@page
@model UtilitiesProject.Pages.Bills.ListModel
@{

}
<h1 class="mb-3"> List Of Bills</h1>

@if (Model.Bills != null && Model.Bills.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>Utility</th>
                <th>Amount</th>
                <th>Paid</th>
                <th>Edit</th>
                <th> </th>

            </tr>
        </thead>
        <tbody>

            @for (var i = 0; i < Model.Bills.Count; i++)
            {
                <tr>
                    <td>@Model.utilityNames[i]</td>
                    <td>@Model.Bills[i].Amount</td>
                    @if (Model.Bills[i].Paid == 1)
                    {<td>"Yes"</td>}
                    else
                    {<td>"No"</td>}
                    <td>
                        <a href="/Bills/Edit/@Model.Bills[i].Id" class="btn btn-dark">Edit</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <a href="/Bills/Add" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Add New Bill</a>
    
}
else
{
    <p>No Bills Found</p>
}