@page
@model UtilitiesProject.Pages.Utilities.AddModel
@{
    var message = ViewData["Message"]?.ToString();
}
<form method="post">
    <h1 class="mb-3">Add New Utility</h1>
    @if (!string.IsNullOrWhiteSpace(message))
    {
        <div class="alert alert-success" role="alert">
            @message
        </div>
    }

    <div class="mb-3">
        <label class="form-label">Name</label>
        <input type="text" class="form-control" asp-for="AddUtilityRequest.Name" />
    </div>
    <div class="mb-3">
        <label class="form-label">Period ("Quarterly or Monthly")</label>
        <input type="text" class="form-control" asp-for="AddUtilityRequest.Period" />
    </div>
    <div class="mb-3">
        <button type="submit" class="btn btn-primary">Save</button>
    </div>
</form>